<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RentMyThing.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
				<key>dateExpires</key>
				<string>17/09/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18D483D73E428F67818A462D9A7E14B88C7505D9</string>
						<key>dateExpires</key>
						<string>17/09/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W293J5NY27</string>
						<key>name</key>
						<string>Vidit Jindal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W293J5NY27.com.example.Special.RentMyThing</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionComplete</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.example.Special.RentMyThing</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>W293J5NY27</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.example.Special.RentMyThing</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>W293J5NY27.com.example.Special.RentMyThing</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RentMyThing.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>de558247-a202-47e8-a99a-04d6cd93466c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.Special.RentMyThing</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W293J5NY27</string>
				<key>name</key>
				<string>Vidit Jindal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
